
/*-------------------------*/
/*Dashboard General styling*/
/*-------------------------*/
#dashboard-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

#dashboard-grid-container {
  display: flex;
  flex-direction: row;
}

#admin-apps,
#media-apps,
#other-apps,
#game-server-apps,
#vpn-apps {
  border: 2px solid var(--primary-border-color);
  background-color: var(--primary-background-color);
  height: fit-content;
  margin: 1em;
  box-shadow: inset;
  box-shadow: 5px 5px 2px 0px var(--primary-border-color);
}

#top-bar-container {
  display: flex;
  justify-content: center;
}

#top-bar {
  width: 90%;
  height: 120px;
  border: 2px solid var(--primary-border-color);
  background-color: var(--primary-background-color);
  box-shadow: 5px 5px 2px 0px var(--primary-border-color);
}

#home-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 1em;
  margin-left: 1em;
}





/*------------------------*/
/*Compose dialog styling  */
/*------------------------*/
.compose-dialog-container {
  width: 35%;
  height: 75%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 5px 5px 2px 0px var(--primary-border-color);
}

.compose-dialog-container::backdrop {
  /* Blurs the content behind the dialog */
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.35); /* Slight dimming to make the blur pop */
}

.compose-dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1em;
}

.dialog-container-header,
.dialog-container-footer {
  flex: 0 0 auto;
  padding: 0.75rem;
}

.compose-dialog-service-name {
  font-weight: bold;
  margin-bottom: 0;
  text-decoration: underline;
}

.dialog-text-container {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0.75rem;
  border: 2px solid var(--primary-border-color);
  background-color: var(--secondary-background-color);
}

.compose-text {
  margin: 0;
  white-space: pre-wrap;
  font-family: monospace;
  min-width: 0;
  font-size: 15px;
}

.dialog-container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.close-modal {
  border: 2px solid var(--primary-border-color);
  border-radius: 5px;
  font: 18px "Courier New", Courier, monospace;
  font-weight: bold;
}




/*------------------------*/
/*Terminal dialog styling  */
/*------------------------*/
.terminal-dialog-container {
  width: 35%;
  height: 75%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 5px 5px 2px 0px var(--primary-border-color);
}

.terminal-dialog-container::backdrop {
  /* Blurs the content behind the dialog */
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.35); /* Slight dimming to make the blur pop */
}

.terminal-dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1em;
}

.terminal-dialog-header,
.terminal-dialog-footer {
  flex: 0 0 auto;
  padding: 0.75rem;
}

.terminal-dialog-service-name {
  font-weight: bold;
  margin-bottom: 0;
  text-decoration: underline;
}

.terminal-dialog-text-container {
  flex: 1 1 auto;
  overflow: auto;
}

.terminal-dialog-text {
  margin: 0;
  white-space: pre-wrap;
  font-family: monospace;
  min-width: 0;
  font-size: 15px;
  overflow:hidden;
}

.terminal-dialog-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.terminal-close-modal {
  border: 2px solid var(--primary-border-color);
  border-radius: 5px;
  font: 18px "Courier New", Courier, monospace;
  font-weight: bold;
}

#terminal {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#terminal > * {
  height: 100%;
  width: 100%;
}

.xterm-screen {
  padding: 0.5em;
}





/*------------------------*/
/*Dashboard mobile styling*/
/*------------------------*/
@media (max-width: 480px) {
  #dashboard-flex-container,
  #dashboard-grid-container {
    flex-direction: column;
    
  }

  #dashboard-flex-container {
    width: 100vw;
    align-items: center;
  }

  #dashboard-grid-container {
    max-width:fit-content;
  }

  #home-icon {
    margin-left: 0.2em;
  }

  .compose-dialog-container {
    width: 75%;
    height: 75%;
  }
}





/*--------------------------*/
/*Dashboard vertical styling*/
/*--------------------------*/
@media (max-width: 1080px) {
  #dashboard-flex-container,
  #dashboard-grid-container {
    flex-direction: column;
    
  }

  #dashboard-flex-container {
    width: 100vw;
    align-items: center;
  }

  #dashboard-grid-container {
    max-width:fit-content;
  }

  .compose-dialog-container {
  width: 75%;
  height: 75%;
  }
}