


/*---------------------------*/
/* General Styling */
/*---------------------------*/
#main-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers items horizontally (in row layout) */
  align-items: center;     /* Centers items vertically (in row layout) */
  height: 100vh;           /* Gives the container height to allow vertical centering */
  width: 100vw;
}

#main-grid-container {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 0.4fr 1fr 
}

#bookmark-widget-container,
#weather-widget-container,
#server-widget-container{
  border: 2px solid var(--primary-border-color);
  background-color: var(--primary-background-color);
}





/*---------------------------*/
/*bookmarksWidget.ejs Styling*/
/*---------------------------*/
#bookmark-widget-container {
  display: flex;
  min-width:fit-content;
  max-width: fit-content;
  grid-column: 1/3;
  grid-row: 1/1;
}

#bookmark-nav {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 24em;
  padding: 1em 0;
}

#bookmark-nav > h1 {
  grid-column: 1/3;
  grid-row: 1/1;
  height: 1em;
  border-bottom: 2px solid var(--primary-text-color);
}

#bookmark-nav > img {
  grid-column: 3/4;
  grid-row: 1/4;
  border: 2px solid var(--primary-border-color);
  object-fit: cover;
  object-position: 50% 100%;
  margin-top: 1em;
  margin-right: 1em;
}

#bookmark-nav > ul {
  margin-top: 0;
}





/*---------------------------*/
/*weatherWidget.ejs Styling*/
/*---------------------------*/
#weather-widget-container {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 1em;
}

#weather-widget > h2 {
  margin-bottom: 0px;
  text-align: center;
  border-bottom: 2px solid var(--primary-text-color);
}

#weather-widget > a > p {
  text-align: center;
  margin-top: 1em;
}

#weather-widget-day-container {
  display: flex;
  justify-content: center;
   
}

#weather-widget-day {
  max-width: fit-content;
  text-align: center;
  border: 2px solid var(--primary-border-color);
  margin-top: 1.28em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-inline: 0.5em;
}

#weather-widget-day > h3 {
  margin-top: 0px;
}

#weather-widget-current-temp {
  margin-bottom: 0px;
}

#weather-widget-day > img {
  margin-top: -0.5em;
}

#weather-widget-min-max-temp {
  margin-top: -0.5em;
}





/*---------------------------*/
/*serverWidget.ejs Styling*/
/*---------------------------*/
#server-widget-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  margin-top: 1em;
  margin-left: 1em;
}

#server-widget {
  width: 100%;
}

#server-widget-title-bar {
  position: relative
}

#server-widget-online-indicator {
  position: absolute;
  width: 100%;
  text-align: right;
  top: -1.2em;
  right: 2em;
}

#server-widget-title > h2 {
  border-bottom: 2px solid var(--primary-text-color);
  text-indent: 1em;
}

#server-widget-service-overview {
  max-width: fit-content;
  text-align: center;
  border: 2px solid var(--primary-border-color);
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 3.5em;
}

#server-quick-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 2.1em;
}




